In [2]:
import pandas as pd
import csv

In [4]:
# read x variable data
X = pd.read_csv('new_X_table.csv')
X

,Ticker,Date,Cbsa_Pop_Percentile(20s)_min,Cbsa_Pop_Percentile(20s)_max,New_Cbsa,Salary,average_posting_duration,Job_posting,new_posting,impCount,intCount
0,A,2016-06,40,80,4,55166.666667,7.000000,4,4,0,1
1,A,2016-08,40,80,16,88190.476190,11.307692,26,25,1,0
2,A,2016-09,40,80,2,85694.444444,22.368421,38,22,4,0
3,A,2016-10,40,80,6,92482.758621,17.451613,62,44,3,0
4,A,2016-11,40,80,6,84805.555556,19.303797,79,57,3,2
...,...,...,...,...,...,...,...,...,...,...,...
81366,ZUMZ,2019-11,40,100,0,37900.000000,28.562500,32,12,2,0
81367,ZUMZ,2019-12,40,80,0,40750.000000,47.000000,16,4,3,0
81368,ZUMZ,2020-01,20,100,2,33382.588235,19.138889,36,29,0,0
81369,ZVLO,2017-02,60,60,1,36500.000000,11.000000,1,1,0,0
81370,ZVLO,2018-03,60,60,0,77500.000000,48.666667,6,2,0,0

In [7]:
# read y variable data
Y = pd.read_csv('yfinanceAPI_monthly3.csv')
Y = Y[['ticker', 'date2', 'Adj Close']]
Y

       ticker    date2  Adj Close
0           A  2016-01  36.028095
1           A  2016-02  35.741016
2           A  2016-03  38.133320
3           A  2016-04  39.270550
4           A  2016-05  44.040211
...       ...      ...        ...
138419   ZVLO  2019-09   0.050000
138420   ZVLO  2019-10   0.050000
138421   ZVLO  2019-11   0.050000
138422   ZVLO  2019-12   0.050000
138423   ZVLO  2020-01   0.060000

[138424 rows x 3 columns]

In [9]:
# calculate the lagged date given lagging period length and original date
def lagging(date, lag):
    year = int(date[:4])
    month = int(date[5:])
    lagged_month = month + lag
    if lagged_month > 12:
        new_month = lagged_month - 12
        new_year = year + 1
    else:
        new_month = lagged_month
        new_year = year
    new_date = str(new_year) + '-' + str(new_month).zfill(2)
    return(new_date)

In [27]:
# add a new column in dataframe called lagged_date
X['lagged_date'] = X.apply(lambda row: lagging(row.Date, 5), axis = 1)

In [28]:
# join the x and y variables based on lagging effect
merged = pd.merge(X, Y, how='inner', left_on = ['Ticker', 'lagged_date'], right_on = ['ticker', 'date2'])
merged = merged.drop(['lagged_date', 'ticker', 'date2'], axis='columns')

In [29]:
# produce output file
merged.to_csv('final_data_5.csv', index = False)